body{
	font-family: 'Montserrat', sans-serif;
	margin: 0 -15px;
	overflow-x: hidden;
}
/***************
*****header*****
****************/
header{
	height: 967px;
	background-image: url(../img/back-header.jpg);
	background-repeat: no-repeat;
	background-position: center;
}
header div.menu{
	height: 134px ;
	background: rgba(0, 0, 0, 0.5);
}
header div.opt{
	padding-left: 40%;
	padding-top: 43px;
}
header nav ul{
	list-style-type: none;
	padding-right: 50px;
	margin: 0;
}
header nav ul li{
	display: inline-block;
	margin-right: 50px ;
}
header nav{
	padding-top: 54px;
	padding-right: 100px;
}
header nav ul li a{
	color: #fff;
	font-size: 18px;
	text-decoration: none;
}
header nav ul li a:hover{
	color: #39b9ef;
	text-decoration: underline;
}
/***************
*****vidio******
****************/
div.block1{
	height: 648px;
}
div.block1 section.vidio h2 {
	padding-top: 50px;
	margin: 0 auto;
}
div.block1 section.vidio h2 span.underline{
	border-bottom: 3px solid #2ebaee;
}
div.block1 section.vidio div.pad{
	padding-top: 50px;
}
section.vidio div.bol2{
	padding-left: 110px;
}










@media (max-width: 575.98px) { 
section.vidio div.bol2{
		padding-left: 0px;
	}
}

@media (min-width: 576px) and (max-width: 767.98px) { 
	header nav {
		padding-top: 0px;
	}
	header div.opt{
		padding-left: 20px;
		display: inline-block;
	}
	header nav ul li{
		display: block;
	}
	section.vidio div.bol2{
		padding-left: 0px;
	}
 }

@media (min-width: 768px) and (max-width: 991.98px) { 
	section.vidio div.bol2{
		padding-left: 0px;
	}
	div.block1 section.vidio div.pad{
		padding-left: 100px;
	} 
 }

@media (min-width: 992px) and (max-width: 1200.98px) {
	div.block1 section.vidio div.pad{
		padding-left: 200px;
	} 
	section.vidio div.bol1 iframe{
		display: flex;
  		flex-flow: row nowrap;
  		align-items: center;
  		margin: 0 auto;
	}
	section.vidio div.bol2 iframe{
		display: flex;
  		flex-flow: row nowrap;
  		align-items: center;
  		margin: 0 auto;
  		padding-top: 3px;
	}
	section.vidio div.bol2{
		padding-left: 0px;
	}
}
    
@media (min-width: 1201px) and (max-width: 1409.98px){ 
	
 }